%html
	%head
		%link{:rel=>"stylesheet", :href=>"main.css", :type=>"text/css"}
		%link{:href=>"https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", :rel=>"stylesheet", :type=>"text/css"}
		%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
		%script{:src=>"main.js"}
		%script{:src=>"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
		%meta{:name=>"viewport", :content=>"initial-scale=1.0", 'user-scalable'=>"no"}
	%body
		#map-canvas
		.content
			%section.s1.intro.guru.current
				%img.guru{:src=>"img/guru.jpg"}
				Guru 
				%span
					Mahendran
			%section.s2.rexdale
				.caption
				<!-- desolate wasteland.jpg -->
			%section.s3.rexdale
				.caption
					REXDALE
			%section.s4.rexdale
				.caption
					REXDALE
				.sub.caption
					(not actually Rexdale)
				<!-- etobicoke -->
			%section.s5.etobicoke
			%section.s6.canada
				.caption
					EH
				<!-- canadian -->
			%section.s7.fahrenheit
				.caption
					%span
						Fahrenheit?&nbsp;
					What's a 
					%span
						Fahrenheit?
				<!--  what's a Fahrenheit? -->
			%section.s8.kanye
				.caption
				<!--  kanye. -->
			%section.s9.uoft
				.caption
				<!-- UofT -->
			%section.s10.aerospace
				.caption
				<!-- aerospace engineering -->
			%section.s11.aerospace
				.caption
					PLANES
				<!-- planes, how do they work?  -->
			%section.s12.aerospace
				.caption
					PLANES
				.sub.caption
					HOW DO THEY WORK?
				<!-- planes, how do they work?  -->
			%section.s13.intro.thariq
				%img.thariq{:src=>"img/thariq@2x.png"}
				Thariq
				<!-- introduce thariq -->
			%section.s14.uoftbooks{'data-wait'=>8000}
				%iframe{:src=>"assets/webpages/uoftbooks.ca.html", :seamless=>true, :name=>"uoftbooks"}
				<!-- uoftbooks, embed -->
			%section.s15.intro.thariq.fahd
				.block
					%img.thariq{:src=>"img/thariq@2x.png"}
					Thariq
				.block
					%img.fahd{:src=>"img/fahd@2x.png"}
					Fahd
			%section.s16.chime{'data-wait'=>5000}
				%iframe{:src=>"http://www.chimeapp.com", :seamless=>true}
				.caption
				<!-- chime, embed -->
			%section.s17.chime-product{'data-wait'=>5000}
				%iframe{:src=>"assets/webpages/Chime.html", :seamless=>true}
				.caption
				<!-- product shots -->
			%section.s18.press
				%iframe{:src=>"http://techcrunch.com/2013/03/28/hubspot-acquires-chime-prepwork/", :seamless=>true}
				.caption
				<!-- press -->
			%section.s19.signals
				%img.sig{:src=>"img/signals@2x.png"}
				.caption
				<!-- signals -->
			%section.s20.chime-signals
				.block.chime
					%img.chime-logo{:src=>"img/chime@2x.png"}
				.block
					%img.chime-sites{:src=>"img/sites.png"}
				.block.signals
					%img.signals-logo{:src=>"img/signals-type@2x.png"}
				.block
					%img.signals-people{:src=>"img/signals-people@2x.png"}
				<!-- chime, signals comparison -->
			%section.s21.intro.guru
				%img.guru{:src=>"img/guru.jpg"}
				Guru 
				%span
					Mahendran


		.footer

